/* Color palette. Use aliases instead of these directly. */
@color-red-primary: #F00610;
@color-red-secondary: #CF040D;
@color-red-tertiary: #A50207;
@color-blue-primary: #03A9DA;
@color-gray-primary: #DAD7D6;
@color-gray-secondary: #CCCBB9;
@color-white-primary: #F2F2F2;
@color-black-primary: #0B0B0B;
@color-yellow-primary: #FCB557;
/* Color palette end. Use aliases instead of these directly. */

@color-header: @color-black-primary;
@color-text-body: @color-black-primary;

@color-background-app: @color-white-primary;
@color-background-header: @color-white-primary;

@color-background-search-focus: @color-blue-primary;

@color-background-pokemon-card: @color-white-primary;
@color-pokemon-card-border: @color-black-primary;

@color-border: @color-gray-primary;
@color-shadow: rgba(11,11,11,.6);