body {
    background-color: @color-background-app;
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
}

.header {
    a {
        text-decoration: none;
    }
    
    text-align: center;
    padding: 10px 0;
    background-color: @color-background-header;
    box-shadow: 0 0px 4px @color-shadow;
    margin-bottom: 10px;
    width: 100%;
    
    &__icon {
        width: 24px;
        margin-right: 8px;
    }
    
    &__text {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .header {
        text-align: left;
        
        &__text {
            display: inline;
            font-size: 22px;
            color: @color-header;
            font-family: sans-serif;
            margin-left: 5px;
        }
        
        &__icon {
            margin-left: 10px;
        }
    }
}