.pokemon {
    text-align: center;
    
    &__profile {
        h1 {
            text-transform: uppercase;
            font-family: sans-serif;
            margin-top: 10px;
        }
    }
    
    &__profile-image {
        height: 180px;
        max-width: 320px;
    }
    
    &__card {
        padding: 15px 20px;
        text-align: left;
        margin: 15px 20px;
        background-color: @color-background-pokemon-card;
        box-shadow: 0 2px 2px @color-shadow;
    }
    
    &__evolves-from {
        text-transform: capitalize;
    }
}

.external-links {    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        margin-bottom: 12px;
        &:last-of-type {
            margin-bottom: 0;
        } 
    }
    
    &__link {
            
    }
    
    &__pokemon-name {
        text-transform: capitalize;
    }
}

@media screen and (min-width: 768px) {
    .pokemon {
        &__header {
            text-align: left;
        }
        
        &__shape {
            float: none;
            display: inline-block;
        }
        
        &__profile {
            float: left;
            padding: 15px 20px;
            margin: 15px 20px;
        }
        
        &__card {
            float: left;
            width: 45%;
        }
    }
}