.search {
    padding: 8px;
    font-size: 22px;
    text-align: center;
    
    &__body {
        display: inline-block;
        max-width: 380px;
        text-align: left;  
    }  

    &__input-entry {
        font-size: 24px;
        width: 100%;
        border-radius: 0px;
        box-shadow: inset 0 2px 2px @color-shadow;
        background-color: @color-white-primary;
    }

    &__input {
        margin-bottom: 8px;
    }
    
    &__input-label {
        font-size: 15px;
        font-family: sans-serif;
    }

    &__result {
        display: block;
        width: 100%;
        height: 36px;
        padding: 8px 0;
        text-transform: capitalize;    
        text-decoration: none;
        font-family: sans-serif;
        color: @color-text-body;
        border-bottom: 1px solid @color-border;
        &:last-of-type {
            border-color: transparent;
        } 
        &:visited {
            color: @color-text-body;
        }
        &:hover {
            color: @color-text-body;
            text-decoration: underline;
        }
        &:focus {
            background-color: @color-background-search-focus;
        }
    }

    &__result-icon {
        width: 40px;
        height: 30px;
        float: left;
    }

    &__result-name {
        height: 30px;
        margin-top: 7px;
        margin-left: 10px;
        float: left;
    }

    &__result-type {
        float: right;
        margin-top: 10px;
        margin-right: 10px;
        font-size: 12px;
    } 
        
}
